.blog {

    padding: 10rem 0;

    background: var(--bg-primary);

}

.blog-slider {

    width: min(100% - 4rem, var(--container-width));

    margin: 0 auto;

    overflow: hidden;

}

.blog-track {

    display: flex;

    transition: transform .6s ease;

}

.blog-card {

    min-width: 100%;

    display: grid;

    grid-template-columns: 38% 62%;

    gap: 3rem;

    padding: 1rem;

    border-radius: 24px;

    background: var(--bg-glass);

    border: 1px solid rgba(255, 255, 255, .08);

    backdrop-filter: blur(var(--blur-md));

}

.blog-image {

    display: flex;

    align-items: center;

    justify-content: center;

    padding: 2rem;

    /* background: #14181d; */

    border-radius: 22px;

    overflow: hidden;

}

.blog-image img {

    width: 100%;

    height: auto;

    max-height: 420px;

    object-fit: contain;

    object-position: center;

    transition: .45s ease;

}

.blog-card:hover .blog-image img {

    transform: scale(1.03);

}

.blog-content {

    display: flex;

    flex-direction: column;

    justify-content: center;

    padding: 2rem 3.5rem 2rem 1rem;

}

.blog-category {

    display: inline-flex;

    align-self: flex-start;

    padding: .6rem 1.5rem;

    border-radius: 999px;

    background: rgba(110, 255, 131, .12);

    border: 1px solid rgba(110, 255, 131, .2);

    color: var(--accent-green);

    font-size: 1.3rem;

    font-weight: 600;

    margin-bottom: 1.8rem;

}

.blog-content h3 {

    margin-bottom: 1.6rem;

}

.blog-content p {

    margin-bottom: 2.5rem;

}

.blog-meta {

    margin-bottom: 2rem;

}

/* .blog-tags {

    margin-bottom: 3rem;

} */

.blog-meta span {

    display: flex;

    align-items: center;

    gap: .8rem;

    color: var(--text-secondary);

    font-size: 1.4rem;

}

.blog-meta i {

    color: var(--accent-orange);

}

.blog-tags {

    display: flex;

    flex-wrap: wrap;

    gap: 1rem;

    margin-bottom: 3rem;


}

.blog-tags span {

    padding: .7rem 1.4rem;

    border-radius: 999px;

    border: 1px solid rgba(255, 255, 255, .08);

    background: rgba(255, 255, 255, .03);

    color: var(--text-primary);

    font-size: 1.25rem;

    transition: all 0.3s ease;

}

.blog-tags span:hover {
    transform: translateY(-3px) scale(1.02);

    border-color: var(--accent-green);
    /* transition: all 0.3s ease; */


}

.blog-content .btn {

    width: fit-content;

    margin-top: auto;

}

.slider-pagination {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 1.2rem;

    margin-top: 3rem;

}

.slider-pagination button {

    width: 14px;

    height: 14px;

    border-radius: 50%;

    border: 2px solid rgba(255, 255, 255, .3);

    background: transparent;

    cursor: pointer;

    transition: .3s;

}

.slider-pagination button.active {

    width: 42px;

    border-radius: 999px;

    border-color: var(--accent-green);

    background: var(--accent-green);

}

.slider-pagination button:hover {

    border-color: var(--accent-green);

}

@media (max-width:992px) {

    .blog-card {

        grid-template-columns: 1fr;

    }

}

@media (max-width:768px) {

    .blog {

        padding: 2rem 0;

    }

    .section-description {
        text-align: center;
        font-size: 13px;
        padding-top: 10px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .section-title {
        font-size: 2.5rem;
    }

    .blog-content h3 {

        font-size: 2.6rem;

    }

    .blog-meta {

        flex-direction: column;

        align-items: flex-start;

        gap: 1rem;

    }

}