/* ==========================================================================
   Responsive / Global Media Queries
   ========================================================================== */

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  body {
    padding-right: 0;
  }
  section {
    padding: 2rem;
  }
}
